body {
	position: fixed;
	inset: 0;
	display: grid;
}

@media screen and (orientation: portrait) {
	body {
		grid-template-rows: max-content 1fr;
		align-items: center;
	}
}

@media screen and (orientation: landscape) {
	body {
		grid-template-columns: max-content 1fr;
		justify-items: center;
	}
}

nav {
	border-top-left-radius: 0 !important;
}

@media screen and (orientation: portrait) {
	nav {
		flex-direction: row;
		border-top-right-radius: 0 !important;
	}
}

@media screen and (orientation: landscape) {
	nav {
		flex-direction: column;
		border-bottom-left-radius: 0 !important;
	}
}

main {
	position: relative;
	width: 100%;
	height: 100%;
}

div.--frame {
	position: absolute;
	inset: 0;
	margin: auto;
	max-height: 100%;
	aspect-ratio: 1 / 1;
}

div.--player {
	width: 100%;
	height: 100%;
	border-radius: calc(var(--size-gap) + var(--size-gap));
}

div.--display {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

canvas#display {
	width: 100%;
	height: 100%;
}

div.--toolkit {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, max-content) 1fr;
	opacity: 0.5;
	transition: var(--time-duration);

	&:hover {
		opacity: 1;
		transition: var(--time-duration);
	}
}

input[type="checkbox"]#toggle-play:checked + label[role="checkbox"] {
	background-color: unset;

	& > img.icon {
		content: url(../resources/icons/pause.png);
	}
}

button#capture-canvas {
	justify-self: end;
}

aside {
	position: absolute;
	inset: 0 0 0 auto;
	align-items: flex-end;
}

div#fps-counter {
	--color-fps-indicator: var(--color-foreground);
	border-style: solid;
	border-color: var(--color-fps-indicator);
}

/* table#elements-counter div.--view {
	aspect-ratio: 1;
	height: 1.4em;
} */