/* Main */
:root {
	--size-radius: var(--size-gap);
	--size-shadow: 0;
	/* 0.15vmin; */
	--value-transparence: 50%;
	--color-foreground: rgb(255, 255, 255);
	--color-background: rgb(225, 225, 225);
	--color-modal: rgba(0, 0, 0, var(--value-transparence));
	--color-highlight: hsl(210, 100%, 50%);
	--color-highlight-negative: hsl(0, 100%, 75%);
	--color-text: rgb(50, 50, 50);
	--color-text-negative: hsl(0, 100%, 25%);
	--color-text-reverse: rgb(255, 255, 255);
	--color-shadow: rgba(0, 0, 0, var(--value-transparence));
	--time-duration: 85ms;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	outline-color: var(--color-highlight);
}

body * {
	background-color: inherit;
	color: inherit;
	outline-color: inherit;
}

body *::placeholder {
	color: inherit;
	filter: brightness(0.75);
}

/* Global */
*.layer {
	background-color: var(--color-foreground);
	border-radius: var(--size-radius);
	box-shadow: 0 0 var(--size-shadow) 0px var(--color-shadow);
}

*.depth {
	background-color: var(--color-background);
	border-radius: var(--size-radius);
	box-shadow: 0 0 var(--size-shadow) 0px var(--color-shadow) inset;
}

*.transparent {
	background-color: transparent;
}

*.modal {
	background-color: var(--color-modal);
	box-shadow: 0 0 var(--size-shadow) 0px var(--color-shadow) inset;
}

*.modal {
	color: var(--color-text-reverse);
}

button,
input[type="text"],
textarea,
input[type="datetime"],
input[type="checkbox"]+label[role="checkbox"],
input[type="radio"]+label[role="combobox"] {
	border-radius: var(--size-radius);
}

button:enabled:hover,
input[type="text"]:enabled:hover,
textarea:enabled:hover,
input[type="datetime"]:enabled:hover,
input[type="checkbox"]:enabled+label[role="checkbox"]:hover,
input[type="radio"]:enabled:not(:checked)+label[role="combobox"]:hover {
	filter: invert(0.1);
	transition: var(--time-duration);
}

button:enabled:active,
input[type="text"]:enabled:not(:read-only):active,
textarea:enabled:not(:read-only):active,
input[type="datetime"]:not(:read-only):active,
label:active>input[type="checkbox"]:enabled+label[role="checkbox"],
label:active>input[type="radio"]:enabled:not(:checked)+label[role="combobox"] {
	filter: invert(0.2);
	transition: var(--time-duration);
}

input[type="checkbox"]:checked+label[role="checkbox"],
input[type="radio"]:checked+label[role="combobox"] {
	background-color: var(--color-highlight);
	transition: var(--time-duration);
}

button:disabled,
input[type="text"]:disabled,
textarea:disabled,
input[type="datetime"]:disabled,
input[type="checkbox"]:disabled+label[role="checkbox"],
input[type="radio"]:disabled+label[role="combobox"] {
	filter: opacity(0.5);
	transition: var(--time-duration);
}

input[type="text"]:invalid,
textarea:invalid,
input[type="datetime"]:invalid {
	color: var(--color-text-negative);
	transition: var(--time-duration);
}

form:invalid {
	outline-color: var(--color-highlight-negative);
	outline-style: solid;
}

hr {
	background-color: var(--color-background);
}

kbd {
	background-color: var(--color-background);
}

/* Local */
img {
	background-color: transparent;
}

img.icon {
	filter: invert(0);
}

input[type="checkbox"]#toggle-play:checked+label[role="checkbox"] {
	background-color: inherit;
}