/* Main */

@media (prefers-color-scheme: light) {
	:root[data-theme="system"] {
		--color-foreground: rgb(255, 255, 255);
		--color-background: rgb(225, 225, 225);
		--color-text: rgb(50, 50, 50);
		--color-text-description: rgb(150, 150, 150);
	}
}

:root[data-theme="light"] {
	--color-foreground: rgb(255, 255, 255);
	--color-background: rgb(225, 225, 225);
	--color-text: rgb(50, 50, 50);
	--color-text-description: rgb(150, 150, 150);
}

@media (prefers-color-scheme: dark) {
	:root[data-theme="system"] {
		--color-foreground: rgb(50, 50, 50);
		--color-background: rgb(25, 25, 25);
		--color-text: rgb(255, 255, 255);
		--color-text-description: rgb(150, 150, 150);
	}
}

:root[data-theme="dark"] {
	--color-foreground: rgb(50, 50, 50);
	--color-background: rgb(25, 25, 25);
	--color-text: rgb(255, 255, 255);
	--color-text-description: rgb(150, 150, 150);
}

:root {
	--time-duration: 100ms;
	--color-highlight: hsl(200deg, 100%, 50%);
	--color-warn: hsl(60deg, 100%, 50%);
	--color-error: hsl(0deg, 100%, 75%);
	--color-shadow: hsla(0, 0%, 0%, 0.75);
}

/* Global */

body {
	background-color: var(--color-background);
	color: var(--color-text);
}

body * {
	background-color: initial;
	color: inherit;
}

body *::placeholder {
	color: var(--color-text-description);
	filter: brightness(0.75);
}

*.layer {
	background-color: var(--color-foreground);
}

*.depth {
	background-color: var(--color-background);
}

*.translucent {
	background-color: var(--color-shadow);
}

*.rounded {
	border-radius: var(--size-gap);
}

*.rounded.in-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

*.rounded.in-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

*.rounded.in-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

*.rounded.in-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

*.transparent {
	background-color: transparent;
}

@media (prefers-color-scheme: dark) {
	:root[data-theme="system"] img.icon {
		filter: invert(1);
	}
}

:root[data-theme="dark"] img.icon {
	filter: invert(1);
}

button,
*[role="button"] {
	color: var(--color-highlight);
}

*[role="combobox"] {
	color: var(--color-text) !important;
}

input[type="checkbox"]:checked + label[role="checkbox"],
*[role="combobox"][aria-checked="true"] {
	background-color: var(--color-highlight);
	transition: var(--time-duration);
}

button:hover,
*[role="button"]:hover,
input[type="checkbox"]:hover + label[role="checkbox"],
*[role="combobox"]:not([aria-checked="true"]):hover {
	filter: invert(0.1);
	transition: var(--time-duration);
}

button:active,
*[role="button"]:active,
input[type="checkbox"]:active + label[role="checkbox"],
*[role="combobox"]:not([aria-checked="true"]):active {
	filter: invert(0.2);
	transition: var(--time-duration);
}

*[role="combobox"][aria-checked="true"] {
	pointer-events: none;
	transition: var(--time-duration);
}

button:disabled,
*[role="button"][aria-disabled="true"],
input:disabled,
*[contenteditable="true"][aria-disabled="true"],
input[type="checkbox"]:disabled + label[role="checkbox"],
*[role="combobox"][aria-disabled="true"],
select:disabled {
	pointer-events: none;
	filter: opacity(0.5);
	transition: var(--time-duration);
}

input:invalid,
select:invalid {
	outline: solid var(--color-error);
}

input:invalid.layer,
input:invalid.depth,
select:invalid.layer,
select:invalid.depth {
	background-color: var(--color-error);
}

input[type="range"]::-webkit-slider-thumb {
	transform: scale(2);
	background-color: var(--color-highlight);
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 75%);
}

div#debug {
	font-family: "Consolas", monospace;
}

a {
	text-decoration: none;
}

*.highlight,
a:any-link {
	color: var(--color-highlight);
}

mark,
*.warn,
*.mark {
	color: var(--color-warn);
}

*.alert {
	color: var(--color-error);
}

hr {
	border-color: var(--color-background);
}

dfn,
time {
	color: var(--color-text-description);
}

::-webkit-scrollbar {
	background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-highlight);
}
