/* Main */

@media (prefers-color-scheme: light) {
	:root:has(meta[name="color-scheme"][content="system"]) {
		--color-foreground: rgb(255, 255, 255);
		--color-background: rgb(225, 225, 225);
		--color-text: rgb(50, 50, 50);
		--color-text-description: rgb(150, 150, 150);
	}
}

:root:has(meta[name="color-scheme"][content="light"]) {
	--color-foreground: rgb(255, 255, 255);
	--color-background: rgb(225, 225, 225);
	--color-text: rgb(50, 50, 50);
	--color-text-description: rgb(150, 150, 150);
}

@media (prefers-color-scheme: dark) {
	:root:has(meta[name="color-scheme"][content="system"]) {
		--color-foreground: rgb(50, 50, 50);
		--color-background: rgb(25, 25, 25);
		--color-text: rgb(255, 255, 255);
		--color-text-description: rgb(150, 150, 150);
	}
}

:root:has(meta[name="color-scheme"][content="dark"]) {
	--color-foreground: rgb(50, 50, 50);
	--color-background: rgb(25, 25, 25);
	--color-text: rgb(255, 255, 255);
	--color-text-description: rgb(150, 150, 150);
}

:root {
	--time-duration: 100ms;
	--color-highlight: hsl(200deg, 100%, 50%);
	--color-warn: hsl(60deg 100% 40%);
	--color-error: hsl(0deg, 100%, 60%);
	--color-shadow: hsla(0deg, 0%, 0%, 75%);
}

/* Global */

body {
	background-color: var(--color-background);
	color: var(--color-text);

	& * {
		background-color: initial;
		color: inherit;

		&::placeholder {
			color: var(--color-text-description);
			filter: brightness(0.75);
		}
	}
}

*.layer {
	background-color: var(--color-foreground);
}

*.depth {
	background-color: var(--color-background);
}

*.translucent {
	background-color: var(--color-shadow);
}

*.rounded {
	border-radius: var(--size-gap);

	&.in-top {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&.in-right {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&.in-bottom {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	&.in-left {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

*.transparent {
	background-color: transparent;
}

@media (prefers-color-scheme: dark) {
	:root:has(meta[name="color-scheme"][content="system"]) img.icon {
		filter: invert(1);
	}
}

:root:has(meta[name="color-scheme"][content="dark"]) img.icon {
	filter: invert(1);
}

:enabled:hover,
:enabled:hover + label,
[role="button"]:hover,
[role="checkbox"]:hover,
[role="combobox"]:hover,
[contenteditable="true"]:hover {
	filter: invert(0.1);
	transition: var(--time-duration);
}

:enabled:active,
:enabled:active + label,
[role="button"]:active,
[role="checkbox"]:active,
[role="combobox"]:active,
[contenteditable="true"]:active {
	filter: invert(0.2);
	transition: var(--time-duration);
}

:read-write:hover,
:read-write:active {
	filter: revert;
}

[aria-readonly="true"] {
	pointer-events: none;
	transition: var(--time-duration);
}

/* :required,
[aria-required="true"] {
	outline-color: var(--color-warn);
	outline-style: solid;
} */

:invalid,
[aria-required="true"]:empty,
[aria-invalid="true"] {
	outline-color: var(--color-error);
	outline-style: solid;
}

:disabled,
:disabled + label,
[aria-disabled="true"] {
	pointer-events: none;
	opacity: 0.5;
	transition: var(--time-duration);
}

:checked,
:checked + label,
[role="checkbox"][aria-checked="true"],
[role="combobox"][aria-checked="true"] {
	background-color: var(--color-highlight);
	transition: var(--time-duration);
}

input[type="radio"]:checked,
input[type="radio"]:checked + label,
[role="combobox"][aria-checked="true"] {
	pointer-events: none;
}

*::placeholder,
*[contenteditable]:empty::before {
	color: var(--color-text-description);
}

@media (prefers-color-scheme: dark) {

	:root:has(meta[name="color-scheme"][content="system"]) input[type="date"]::-webkit-calendar-picker-indicator,
	:root:has(meta[name="color-scheme"][content="system"]) input[type="datetime"]::-webkit-calendar-picker-indicator,
	:root:has(meta[name="color-scheme"][content="system"]) input[type="datetime-local"]::-webkit-calendar-picker-indicator,
	:root:has(meta[name="color-scheme"][content="system"]) input[type="month"]::-webkit-calendar-picker-indicator,
	:root:has(meta[name="color-scheme"][content="system"]) input[type="password"]::-ms-reveal,
	:root:has(meta[name="color-scheme"][content="system"]) input[type="search"]::-webkit-search-cancel-button,
	:root:has(meta[name="color-scheme"][content="system"]) input[type="time"]::-webkit-calendar-picker-indicator,
	:root:has(meta[name="color-scheme"][content="system"]) input[type="week"]::-webkit-calendar-picker-indicator {
		filter: invert(1);
	}
}

:root:has(meta[name="color-scheme"][content="dark"]) input[type="date"]::-webkit-calendar-picker-indicator,
:root:has(meta[name="color-scheme"][content="dark"]) input[type="datetime"]::-webkit-calendar-picker-indicator,
:root:has(meta[name="color-scheme"][content="dark"]) input[type="datetime-local"]::-webkit-calendar-picker-indicator,
:root:has(meta[name="color-scheme"][content="dark"]) input[type="month"]::-webkit-calendar-picker-indicator,
:root:has(meta[name="color-scheme"][content="dark"]) input[type="password"]::-ms-reveal,
:root:has(meta[name="color-scheme"][content="dark"]) input[type="search"]::-webkit-search-cancel-button,
:root:has(meta[name="color-scheme"][content="dark"]) input[type="time"]::-webkit-calendar-picker-indicator,
:root:has(meta[name="color-scheme"][content="dark"]) input[type="week"]::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

input[type="range"]::-webkit-slider-thumb {
	transform: scale(2);
	background-color: var(--color-highlight);
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 75%);
}

code,
*.code {
	font-family: "Cascadia Code", "Consolas", monospace;
	tab-size: 4;
}

a {
	text-decoration: none;
}

*.highlight,
a:not([role]):any-link {
	color: var(--color-highlight);
}

*.highlight-background {
	background-color: var(--color-highlight);
}

mark,
*.warn,
*.mark {
	color: var(--color-warn);
}

*.warn-background {
	background-color: var(--color-warn);
}

*.invalid {
	color: var(--color-error);
}

*.invalid-background {
	background-color: var(--color-error);
}

hr {
	border-color: var(--color-background);
}

dfn,
time {
	color: var(--color-text-description);
}

::-webkit-scrollbar {
	background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-highlight);
}