/* Main */
:root {
	--size-radius: var(--size-gap);
	--size-shadow: 0;
	--value-transparence: 50%;
	--color-foreground: rgb(255, 255, 255);
	--color-background: rgb(225, 225, 225);
	--color-modal: rgba(0, 0, 0, var(--value-transparence));
	--color-highlight: hsl(210, 100%, 50%);
	--color-highlight-negative: hsl(0, 100%, 75%);
	--color-text: rgb(50, 50, 50);
	--color-placeholder: rgb(0, 0, 0);
	--color-text-negative: hsl(0, 100%, 75%);
	--color-text-reverse: rgb(255, 255, 255);
	--color-shadow: rgba(0, 0, 0, var(--value-transparence));
	--time-duration: 0.085s;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	outline-color: var(--color-highlight);
}

body * {
	background-color: inherit;
	color: inherit;
	outline-color: inherit;
}

body *::placeholder {
	color: inherit;
	filter: brightness(0.75);
}

/* Global */
*.layer {
	background-color: var(--color-foreground);
	border-radius: var(--size-radius);
	box-shadow: 0 0 var(--size-shadow) 0px var(--color-shadow);
}

*.depth {
	background-color: var(--color-background);
	border-radius: var(--size-radius);
	box-shadow: 0 0 var(--size-shadow) 0px var(--color-shadow) inset;
}

*.transparent {
	background-color: transparent;
}

*.modal {
	background-color: var(--color-modal);
	box-shadow: 0 0 var(--size-shadow) 0px var(--color-shadow) inset;
}

*.modal {
	color: var(--color-text-reverse);
}

button,
input,
input[type="text"],
textarea,
input[type="datetime"],
input[type="checkbox"]+label[role="checkbox"],
input[type="radio"]+label[role="combobox"],
select {
	border-radius: var(--size-radius);
}

input:enabled,
input[type="text"]:enabled,
textarea:enabled,
input[type="datetime"]:enabled,
select {
	background-color: var(--color-background);
	transition: var(--time-duration);
}

button:enabled:hover,
input:enabled:hover,
input[type="text"]:enabled:hover,
textarea:enabled:hover,
input[type="datetime"]:enabled:hover,
input[type="checkbox"]:enabled+label[role="checkbox"]:hover,
input[type="radio"]:enabled:not(:checked)+label[role="combobox"]:hover,
select:enabled:hover {
	filter: invert(0.1);
	transition: var(--time-duration);
}

button:enabled:active,
input:enabled:active,
input[type="text"]:enabled:not(:read-only):active,
textarea:enabled:not(:read-only):active,
input[type="datetime"]:not(:read-only):active,
input[type="checkbox"]:enabled+label[role="checkbox"]:active,
input[type="radio"]:enabled:not(:checked)+label[role="combobox"]:active,
select:enabled:active {
	filter: invert(0.2);
	transition: var(--time-duration);
}

*.checked,
input[type="checkbox"]:checked+label[role="checkbox"],
input[type="radio"]:checked+label[role="combobox"] {
	background-color: var(--color-highlight);
	transition: var(--time-duration);
}

button:disabled,
input:disabled,
input[type="text"]:disabled,
textarea:disabled,
input[type="datetime"]:disabled,
input[type="checkbox"]:disabled+label[role="checkbox"],
input[type="radio"]:disabled+label[role="combobox"],
select:disabled {
	filter: opacity(0.5);
	transition: var(--time-duration);
}

input:invalid,
input[type="text"]:invalid,
textarea:invalid,
input[type="datetime"]:invalid,
select:invalid {
	color: var(--color-text-negative);
	transition: var(--time-duration);
}

form:invalid {
	outline-color: var(--color-highlight-negative);
	outline-style: solid;
}

hr {
	background-color: var(--color-background);
}

a {
	text-decoration: none;
	color: var(--color-highlight);
}

dfn {
	color: var(--color-placeholder);
}

kbd {
	background-color: var(--color-background);
}

/* Local */
*.layer.in-top,
*.depth.in-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

*.layer.in-right,
*.depth.in-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

*.layer.in-bottom,
*.depth.in-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

*.layer.in-left,
*.depth.in-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

img {
	background-color: transparent;
}

img.icon {
	filter: invert(0);
}

input[type="checkbox"]#toggle-play:checked+label[role="checkbox"] {
	background-color: inherit;
}