/*------------------------------ Global ------------------------------*/
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	outline: none;

	color: rgb(50, 50, 50);
	font-family: monospace;
	font-size: 14px;
}

p
{
	color: rgb(150, 150, 150);
}

h
{
	font-size: 18px;
	font-weight: bolder;
}

a
{
	color: rgb(0, 128, 255);
	text-decoration: none;
}

.window
{
	min-width: 100px;
	max-width: 600px;
	min-height: 50px;
	margin: 20px auto;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(200, 200, 200);
	border-radius: 4px;
}

.icon
{
	width: 40px;
	height: 40px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	margin: 0px 2.5px;
	display: flex;
}

.icon:hover
{
	background-color: rgb(240, 240, 240);
}

.icon > img
{
	width: 30px;
	height:30px;
	margin: auto;
}

.button
{
	width: fit-content;
	height: fit-content;
	margin: auto;
	padding: 5px 10px;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(200, 200, 200);
	border-radius: 4px;
}

.button:hover
{
	background-color: rgb(240, 240, 240);
}

.button > p
{
	text-align: center;
	display: block;
	color: rgb(50, 50, 50);
}

.input
{
	width: 120px;
	min-height: 10px;
	padding: 5px;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(200, 200, 200);
	border-radius: 4px;
}

.input:hover
{
	background-color: rgb(240, 240, 240);
}

content
{
	display: none;
}


th, td
{
	border: none;
	padding: 5px;
}