:root {
	--color-001: hsl(0, 0%, 0%);
	--color-002: hsl(0, 0%, 50%);
	--color-003: hsl(0, 0%, 100%);
	--color-004: hsl(0, 100%, 25%);
	--color-005: hsl(0, 100%, 50%);
	--color-006: hsl(0, 100%, 75%);
	--color-007: hsl(30, 100%, 50%);
	--color-008: hsl(60, 100%, 25%);
	--color-009: hsl(60, 100%, 50%);
	--color-010: hsl(60, 100%, 75%);
	--color-011: hsl(90, 100%, 50%);
	--color-012: hsl(120, 100%, 25%);
	--color-013: hsl(120, 100%, 50%);
	--color-014: hsl(120, 100%, 75%);
	--color-015: hsl(150, 100%, 50%);
	--color-016: hsl(180, 100%, 25%);
	--color-017: hsl(180, 100%, 50%);
	--color-018: hsl(180, 100%, 75%);
	--color-019: hsl(210, 100%, 50%);
	--color-020: hsl(240, 100%, 25%);
	--color-021: hsl(240, 100%, 50%);
	--color-022: hsl(240, 100%, 75%);
	--color-023: hsl(270, 100%, 50%);
	--color-024: hsl(300, 100%, 25%);
	--color-025: hsl(300, 100%, 50%);
	--color-026: hsl(300, 100%, 75%);
	--color-027: hsl(330, 100%, 50%);
}
