/*------------------------- Texts -------------------------*/
.dark .subtitle, .dark .title
{
	color: rgb(200, 200, 200);
}

.dark .text, .dark .subtext
{
	color: rgb(150, 150, 150);
}

.dark .hyperlink
{
	color: rgb(0, 128, 255);
}

/*------------------------- Blocks -------------------------*/
.dark .bordered
{
	border-color: rgb(100, 100, 100);
}

.dark .unbordered
{
	border-color: transparent;
}

.dark .block
{
	background-color: rgb(25, 25, 25);
}

.dark .background
{
	background-color: rgb(50, 50, 50);
}

.dark .selected
{
	background-color: rgb(50, 50, 50);
}

.dark .denied
{
	background-color: rgb(255, 100, 100);
	border-color: rgb(255, 200, 200);
}

/*------------------------- Resources -------------------------*/
.dark .resource
{
	filter: invert(0);
}

/*------------------------- Interaction -------------------------*/
.dark .interactive .text
{
	color: rgb(200, 200, 200);
}

.dark .interactive:hover
{
	filter: invert(0.1);
}

.dark .unavailable
{
	filter: contrast(0.5);
}

.dark .input
{
	caret-color: rgb(200, 200, 200);
	color: rgb(200, 200, 200);
}