.dark .title
{
	color: rgb(200, 200, 200);
}

.dark .text
{
	color: rgb(150, 150, 150);
}

.dark .hyperlink
{
	color: rgb(0, 128, 255);
}

.dark .bordered
{
	border-color: rgb(100, 100, 100);
}

.dark .unbordered
{
	border-color: rgb(100, 100, 100, 0);
}

.dark .block
{
	background-color: rgb(25, 25, 25);
}

.dark .selected
{
	background-color: rgb(50, 50, 50);
}

.dark .background
{
	background-color: rgb(50, 50, 50);
}

.dark .resource
{
	filter: invert(0);
}

.dark .interactive .text
{
	color: rgb(200, 200, 200);
}

.dark .interactive:hover
{
	filter: invert(0.1);
}

.dark .input
{
	caret-color: rgb(200, 200, 200);
	color: rgb(200, 200, 200);
}