.title
{
	font-size: 18px;
	font-weight: bolder;
}

.text
{
	font-size: 14px;
}

.hyperlink
{
	text-decoration: none;
	font-size: 14px;
}

.bordered, .unbordered
{
	border: 1px solid;
	border-radius: 5px;
}

.block, .selected
{
	width: fit-content;
	height: fit-content;
	padding: 5px;
	display: flex;
}

.center
{
	margin: 10px auto;
}

.interactive
{
	margin: 0px 2.5px;
	font-weight: bold;
}

table
{
	border: none;
}

table td
{
	padding: 3px;
}