/*------------------------- Texts -------------------------*/
.title
{
	font-size: 30px;
	font-weight: bold;
}

.subtitle
{
	font-size: 18px;
	font-weight: bolder;
}

.text
{
	font-size: 14px;
}

.hyperlink
{
	text-decoration: none;
	font-size: 14px;
}

/*------------------------- Blocks -------------------------*/
.block, .selected, .denied
{
	width: fit-content;
	height: fit-content;
	padding: 5px;
	display: flex;
}

.bordered, .unbordered
{
	border: 1px solid;
	border-radius: 5px;
}

/*------------------------- Interaction -------------------------*/
.interactive
{
	margin: auto 2.5px;
	font-weight: bold;
	cursor: pointer;
}