.title
{
	font-size: 18px;
	font-weight: bolder;
}

.text
{
	font-size: 14px;
}

.hyperlink
{
	text-decoration: none;
	font-size: 14px;
}

.block, .selected
{
	width: fit-content;
	height: fit-content;
	padding: 5px;
	display: flex;
}

/* .toggle
{
	border-radius: 50vh !important;
	position: relative;
}

.knob
{
	width: 100% !important;
	height: 100% !important;
	border-radius: 50% !important;
	position: absolute;
	left: calc(0px - 50%);
	top: 50%
} */

.bordered, .unbordered
{
	border: 1px solid;
	border-radius: 5px;
}

.center
{
	margin: 10px auto;
}

.interactive
{
	margin: auto 2.5px;
	font-weight: bold;
	cursor: pointer;
}

table
{
	border: none;
}

table td
{
	padding: 3px;
}