/*------------------------- Default -------------------------*/
*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-drag: none;
	outline: none;

	font-family: monospace;
}

/*------------------------- Tables -------------------------*/
table tr td
{
	padding: 2.5px;
}