/*------------------------- Default -------------------------*/
*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-drag: none;
	outline: none;
	overflow: hidden;

	font-family: monospace;
}