/*------------------------- Texts -------------------------*/
.Light .Subtitle, .Light .Title
{
	color: rgb(50, 50, 50);
}

.Light .Text, .Light .Subtext
{
	color: rgb(150, 150, 150);
}

.Light .Hyperlink
{
	color: rgb(0, 128, 255);
}

/*------------------------- Blocks -------------------------*/
.Light .Foreground
{
	background-color: rgb(255, 255, 255);
}

.Light .Background
{
	background-color: rgb(225, 225, 225);
}

.Light .Denied
{
	background-color: rgb(255, 200, 200);
	border-color: rgb(255, 100, 100);
}

.Light .Bordered, .Light .Line
{
	border-color: rgb(200, 200, 200);
}

.Light .Unbordered
{
	border-color: transparent;
}

/*------------------------- Resources -------------------------*/
.Light .Resource
{
	filter: invert(0);
}

/*------------------------- Interaction -------------------------*/
.Light .Interactive .Text
{
	color: rgb(50, 50, 50);
}

.Light .Interactive:hover
{
	filter: invert(0.1);
}

.Light .Unavailable 
{
	filter: contrast(0.5);
}

.Light .Input
{
	caret-color: rgb(50, 50, 50);
	color: rgb(50, 50, 50);
}

/*------------------------- Scrollbar -------------------------*/
.Light ::-webkit-scrollbar
{
	background-color: rgb(225, 225, 225);
	border-color: transparent;
}

.Light ::-webkit-scrollbar-thumb
{
	background-color: rgb(255, 255, 255);
	border-color: rgb(200, 200, 200);
}