.light .title
{
	color: rgb(50, 50, 50);
}

.light .text
{
	color: rgb(150, 150, 150);
}

.light .hyperlink
{
	color: rgb(0, 128, 255);
}

.light .bordered
{
	border-color: rgb(200, 200, 200);
}

.light .unbordered
{
	border-color: rgba(200, 200, 200, 0);
}

.light .block
{
	background-color: rgb(255, 255, 255);
}

.light .selected
{
	background-color: rgb(225, 225, 225);
}

.light .background
{
	background-color: rgb(225, 225, 225);
}

.light .resource
{
	filter: invert(1);
}

.light .interactive .text
{
	color: rgb(50, 50, 50);
}

.light .interactive:hover
{
	filter: invert(0.1);
}

.light .input
{
	caret-color: rgb(50, 50, 50);
	color: rgb(50, 50, 50);
}