/*------------------------- Texts -------------------------*/
.light .subtitle, .light .title
{
	color: rgb(50, 50, 50);
}

.light .text, .light .subtext
{
	color: rgb(150, 150, 150);
}

.light .hyperlink
{
	color: rgb(0, 128, 255);
}

/*------------------------- Blocks -------------------------*/
.light .foreground
{
	background-color: rgb(255, 255, 255);
}

.light .background
{
	background-color: rgb(225, 225, 225);
}

.light .bordered, .light .line
{
	border-color: rgb(200, 200, 200);
}

.light .unbordered
{
	border-color: transparent;
}

.light .denied
{
	background-color: rgb(255, 200, 200);
	border-color: rgb(255, 100, 100);
}

/*------------------------- Resources -------------------------*/
.light .resource
{
	filter: invert(1);
}

/*------------------------- Interaction -------------------------*/
.light .interactive .text
{
	color: rgb(50, 50, 50);
}

.light .interactive:hover
{
	filter: invert(0.1);
}

.light .unavailable 
{
	filter: contrast(0.5);
}

.light .input
{
	caret-color: rgb(50, 50, 50);
	color: rgb(50, 50, 50);
}

/*------------------------- Scrollbar -------------------------*/
.light ::-webkit-scrollbar
{
	background-color: rgb(225, 225, 225);
	border-color: rgb(200, 200, 200);
}

.light ::-webkit-scrollbar-thumb
{
	background-color: rgb(255, 255, 255);
	border-color: rgb(200, 200, 200);
}